<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Movie Reviews</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reviews/list">Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reviews/add">Add Reviews</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
    <h1 class="display-4">Welcome to Movie Reviews</h1>
    <p class="mb-4">This is a Sails.js app for creating movie reviews</p>
    <a href="/reviews/list" class='btn btn-light'>View Movie Reviews</a>
    <a href="/reviews/add" class='btn btn-light'>Add Movie Review</a>
</div>